name: fetch_latest
on:
  push:
    branches:
      - main
#  schedule:
#    - cron: '5 * * * *'
jobs:
  fetch_and_save:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - run: python fetch_latest_data.py -f historical_data/bitcoin.csv
      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: |
          current="`date +'%Y-%m-%d %H:%M:%S'`"
          commit_message="[skip ci] Updated bitcoin historical data at $current."
          git remote set-url origin git@github.com:${{ secrets.REPO_USERNAME }}/${{ secrets.REPO_NAME }}.git
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Github Actions Bot"
          git add -A 
          git diff-index --quiet HEAD || git commit -m "$commit_message"
          git push -u origin main
